/* INDEX INDEX INDEX INDEX*/ 
#cuerpo{
	font-size: 100%;
	}


/* ===============
	   HEADER
   =============== */
	
header {
width:100%;    
}

#toronto{
	font-size: 2em;
	width:250px;
	margin-left:18%;
	top:-30px;
	}

/*Este video me ayudó a armar el icono con movimiento del menu hamburguesa:    https://www.youtube.com/watch?v=dIyVTjJAkLw
Luego reutilizé algunas partes del codigo javascript y diseñé por mi cuenta la función que despliega el menú.*/
	
.botonMenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  top: 13px;
  }
  
.menuHamburguesa{
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.botonMenu.open .menuHamburguesa {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.botonMenu.open .menuHamburguesa::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.botonMenu.open .menuHamburguesa::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
	
.menuHamburguesa::before,
.menuHamburguesa::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menuHamburguesa::before {
  transform: translateY(-10px);
}
.menuHamburguesa::after {
  transform: translateY(10px);
  }

nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
} 

nav li a::before {
  display: none;
}

nav li a:hover::before {
  width: 100%;
}

.imagenciudad {	
	background-image: url(imagenes/skyline2mobile.jpg);
	height: 297px;
	width:100%;
	}
	
.textoImagen{
	font-size: 5em;
	overflow:hidden;
	}
	
.grupoRecuadros li{
	margin-bottom:20px;
	margin-right: 8px;
	margin-left: 8px;
	background-color: #b7b6fd;
	}
	
.grupoRecuadros:last-of-type{
	display:none;
	}
 
#tituloInfo{
	font-size: 30px;
	margin-top:20px;
	margin-bottom: 30px;
	}


#tarjetasInfo {
	width:320px;
	margin: 0 auto;
	padding: 0;
	}
	
#tarjetasInfo li {
	display:inline-block;
	width:248px;
	height:250px;
	background-color: white;
	margin-left: 36px;
	margin-bottom: 15px;
	vertical-align:top;
	box-shadow: 2px 2px 5px #666;
	}

#tarjetasInfo li p {
	margin: 5px 5px 5px 7px;
	font-size: 13px;
	}
	

iframe {
	width:95%;
	}

.botonAnimado {
	width:160px;
    text-decoration: none;
	}
	
.botonAnimado:active {
	padding: 20px 60px 20px 20px;
	}
	
.botonAnimado:active::after {
	right: 1.2em;
	opacity:1;
	}		

/*FOOTER FOOTER FOOTER FOOTER FOOTER*/

.columnasFooterAncha {
	display:none;
	}
	
.columnasFooter {
	width: 100%;
	display: inline-block;
	vertical-align:top;
	padding: 5% 0;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	}
	
.columnasFooter li ,.columnasFooterAncha li{
	display: block;
	font-size: 1.1em;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left:0px;
	}	

.segundaFila {	
	display: block;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	}
	
.descarga {
	font-size: 1.5em;
	padding-top: 0px;
	margin-top:40px;
	padding-right:0px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	font-weight: bold;
	display:block;
	}

.ofertas {
	display: none;
	}

#apple, #android {
	margin: 15px auto;
	padding: 0;
	width:204px;
	height:56px;	
	display: block;
	font-size: 0px;
	}
	
#apple {
	background: url(imagenes/sprites.png) -192px -66px;
	}

#android{
	background: url(imagenes/sprites.png) -192px 0px;
	}
	
#fb {
	width:64px;
	height:64px;
	display:inline-block;
	margin-left:20%;
	margin-right:auto;	
	margin-bottom:8px;
	margin-top:40px;
	position: relative;
	}
	
#fblink {
	width:64px;
	height:64px;
	background: url(imagenes/sprites.png) 0 -66px;
	display:inline-block;
	font-size: 0;
	}
	
#fblink:hover {
	background: url(imagenes/sprites.png) 0 0;
	}

.igtw {
	width:64px;
	height:64px;
	display:inline-block;
	}
	
#iglink {
	width:64px;
	height:64px;
	background: url(imagenes/sprites.png) -64px -66px;
	display:inline-block;
	font-size: 0;
	position: relative;
	}
	
#iglink:hover {
	background: url(imagenes/sprites.png) -64px 0px;
	}

#twlink {
	width:64px;
	height:64px;
	background: url(imagenes/sprites.png) -128px -66px;
	display:inline-block;
	font-size: 0;
	position: relative;
	}
	
#twlink:hover {
	background: url(imagenes/sprites.png) -128px 0px;
	}

summary {
	margin-top: 50px;
	}

.lineaDivisoria {
	margin-left:auto;
	margin-right:auto;
	height: 1 px;
	width:100%;
	border: solid 1px;
	display:block;
	}

/*LUGARES LUGARES LUGARES LUGARES LUGARES*/

.contenedorImagen{
	width:100%
	}

.imagengaleria {	
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)),
	  url(imagenes/mobile-artgallery.jpg);
	height: 352px;
	width:100%;
	}

.contenedorSobreImagen {
	width: 90%;
	border: solid 1px;
	margin-top: -100px;
	z-index: 1;
    position:relative;
	background-color: #EEEEEE;
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
	}
	
.contenedorSobreImagen  p {
	font-size: 1.1em;
	padding: 12px;
	}

/*AJUSTAR TAMAÑOS DESDE PHOTOSHOP*/
#menuAtracciones {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	width:315px;
	height: 58px;
    list-style: none;
	position: relative;
	left:-6%;
	}

.iconos {
	width:58px;
	height:58px;
	margin-right: 5px;
	float:left;
	}
	
.iconos a{
	width:58px;
	height:58px;
	display: inline-block;
	font-size:0px;
	}
	
#dt, #dt:hover {
	background: url(imagenes/mobile-spritebarrios.png) 0 0;
	transition: 0;
	}
	
#ct, #ct:hover  {
	background: url(imagenes/mobile-spritebarrios.png) -58px 0;
	transition: 0;
	}

#dan, #dan:hover {
	background: url(imagenes/mobile-spritebarrios.png) -116px 0;
	transition: 0;
	}


#lit, #lit:hover {
	background: url(imagenes/mobile-spritebarrios.png) -174px 0;
	transition: 0;
	}

#lp, #lp:hover  {
	background: url(imagenes/mobile-spritebarrios.png) -232px 0;
	transition: 0;
	}
		
.contenedorImg {
	width: 100%;
	}
	
.presentacionBarrio {
	width: 90%;
	}
	
.presentacionBarrio p {
	padding-bottom: 10px;
	font-size: 14px;
	margin-left:auto;
	margin-right:auto;
	}
	
.barrios h3
	{text-align: center;
	font-size: 1.7em;
	margin: 30px 0px;
	}
		
.columnaInfo{
	width: 80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	vertical-align: top;
	height:auto;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-bottom: 30px;
	padding-bottom:20px;
	}

.notForMobile{
	display:none;
	}
	
.barrios .restaurantes {
	display:none;
	}

.columnaInfo p{
	margin: 10px 20px;
	font-size: 0.9em;
	line-height : 16px;
	}
	
.restaurantes {
	width: 90%;
	margin-left:auto;
	margin-right:auto;	
	font-size: 0.9em;
	}
	
.barriosWhite{
	background-color:white;
	padding-bottom:60px;
	}
	
/* INFORMACION INFORMACION INFORMACION INFORMACION*/
.videoPadding {
	margin: 50px auto;
	width: 95%;
	}
	
.noticiaPrincipal img {
	width:100%
	}
	
/* CONTACTO CONTACTO CONTACTO CONTACTO*/
	
.contenedor{
	margin:50px auto;
	padding:0px 0px 25px 0px;
	background-image:none;
	width:97%
	}
	
.lineaColor {
	width: 100%;
	margin-left:0px;
	margin-bottom: 30px;
	height: 4px;
	background-color: #0040ff;
	}
	
.contenedor h1 {
	margin-left: auto;
	margin-right: auto;
	width: 220px;
	display: block;
	padding-bottom: 20px;
	}
	
.form span{
	display: block;
	padding-top:10px;
	margin-bottom:15px;
	color: blue;
	font-weight:bold;
	margin-left: auto;
	margin-right: auto;
	font-size:1em;
	width:90%;
	}
	
form input{
	width:90%;
	padding:5px 0;
	margin-bottom: 10px;
	margin-top:5px;
	margin-left: auto;
	margin-right: auto;	
	display:block;
	}
	
#country {
	padding:5px 0;
	margin-bottom: 10px;
	margin-top:5px;
	margin-left: 5%;
	margin-right: auto;	
	display:block;
	}
	
fieldset {
	margin-left: 5%;
	width:80%;
	}
	
.extraMargin {
	margin-top:10px;
	}

select {
	margin-top: 7px;
	margin-bottom: 7px;
	}
	
.inputEstilo{
	padding:5px 0;
	margin-bottom: 10px;
	margin-top:5px;
	margin-left: 5%;
	margin-right: auto;	
	display:block;
	}

/* ========================
	GRACIAS GRACIAS GRACIAS
   ========================	*/	
.tarjetas {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  color: hsl(234, 12%, 34%);
  }
  
/* ========================
	     ALOJAMIENTO
   ========================	*/
   
.torontoheader{
	font-size: 2em;
	width:250px;
	margin-left:18%;
	top:-30px;
	}
  
 .imagenHotel {	
	background-image: url(imagenes/mobile-hoteles.jpg); 
	height:240px;
	}
	
#contenidoBarra {
	width:250px;
	}
	
.iconografia{
	margin-left:0px;
	}
	
.iconografia:first-of-type{
	margin-left:0px;
	}
	
.seccionReserva {
	width:85%
	}
	
.seccionReserva img{
	display:block;
	width:auto;
	margin: 10px auto;
	}

.seccionReserva p{	
	margin: 10px auto;
	}
	
.tarjetaHoteles img {
	display:block;
	margin-left: auto;
	margin-right: auto;	
	}
	
.tarjetaHoteles{
	flex-direction: column;
	text-align:center;
	}
	
.tarjetaHoteles p{
	display:none;
	}
	
 	
.ubicacion{
	width:80%;
	margin: 10px auto;
	}	
	
.resena{
	display:none;
	}
	