/* INDEX INDEX INDEX INDEX*/
*{margin: 0px;}

main, nav, header, footer{display:block;}

img {
  width: 100%;
  height: auto;
}


body{font-family:"Montserrat";
	}

#cuerpo{
	width: 100%;
	background:#FFFFFF;
	overflow:hidden;
	}
	
.letraBold {
	font-weight: bold;
	}
	
.letraItalica {
	font-style: italic;	
	}

/* ===============
	   HEADER
   =============== */
	
header {
background: rgb(10,0,172);
background: linear-gradient(90deg, rgba(10,0,172,1) 0%, rgba(0,188,226,1) 93%, rgba(193,247,255,1) 100%);
width:100%
}

header::after {
  content: '';
  display: table;
  clear: both;
}

#toronto{
	font-family: "Hamburg Hand";
	color: red;
	font-size: 30px;
	display:inline-block;
    position: relative;
	top:4px;
	}

#canada {
	color: black;
	}
	
.hambur {
	display: none;
	}

nav {
	padding-left:50px;
	}
	
nav ul {
	display:inline-block;
	}
	
nav li{
  display: inline-block;
  margin-left: 70px;
  padding: 10px 0px 15px;
  font-weight:800;
  position: relative;
}

nav li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
} 

nav li a:hover {
  color: #444444;
}

nav li a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav li a:hover::before {
  width: 100%;
}	
.contenedorImagen {
    position: relative;
    display: inline-block;
    text-align: center;
	width:100%
	}
	
main{ 
width: 100% 
}
	
.imagenciudad {	
	background-image: url(imagenes/skyline2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	overflow:hidden;
	height: 850px;
	width:100%;
	position:relative;
	}	
	
.textoImagen{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: "Hamburg Hand";
	font-size: 200px;
	color: white;
	}
		
	
#presentacion{
	text-align:center;
	font-weight: regular;
	font-size: 32px;
	margin-top: 70px;
	margin-bottom: 70px;	
	}
	
.grupoRecuadros {
	padding:0px 0px 0px 0px;
	margin-bottom: 50px;
	margin-right:auto;
	margin-left:auto;
	width:700px;
	}
	
.grupoRecuadros li:last-child{
		margin-right: 0px;
		}
	
.grupoRecuadros li{
	display:inline-block;
	width:140px;
	height:190px;
	margin-right: 40px;
	background-color: #b7b6fd;
	background-repeat: no-repeat;
	background-position:50% 30%;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	border-radius: 4px;
	text-align:center;
	}

.grupoRecuadros li:hover {
	background-color: #7766fd;
	}
	
.textoBajo {
	padding-top: 160px;
	width:220px;
	display: block;
	font-size:16px;
	position:relative;
	left:-40px;
	}

/*iconos*/
#comoLlegar {
	background-image: url(imagenes/plane.png);
	}
#mapa {
	background-image: url(imagenes/map.png);
	}
#transporte {
	background-image: url(imagenes/train.png);
	}
#compras {
	background-image: url(imagenes/shop.png);
	}
#alojamiento {
	background-image: url(imagenes/hotel.png);
	}
#night {
	background-image: url(imagenes/cocktail.png);
	}
#deportes {
	background-image: url(imagenes/kayak.png);
	}
#eventos {
	background-image: url(imagenes/ticket.png);
	}
 
#tituloInfo{
	text-align:center;
	font-size: 3.6em;
	padding-top:50px;
	margin-bottom: 40px;
	}

#informacion {
	background: url(imagenes/aereaciudad.jpg) no-repeat;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	overflow:hidden;
	width:100%;
	position:relative;
	height:522px;
	}
#recuadroTexto {
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	background-color:rgba(255,255,255,0.7)
	}
	
.textoInfo{
	font-weight: regular;
	font-size: 16px;
	margin-left:15px;
	margin-right:15px;
	padding-top: 8px;
	}
	
#infosCortas {
	background-color: #edeffc;
	padding-bottom: 50px;
	}
	
#tituloVisitas {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	}

#tarjetasInfo {
	margin-left:100px;	
	}
	
#tarjetasInfo li {
	display:inline-block;
	width:248px;
	height:250px;
	background-color: white;
	margin-right: 25px;
	vertical-align:top;
	box-shadow: 2px 2px 5px #666;
	}

.imagenTarjeta {
	vertical-align:top
	}

#tarjetasInfo li p {
	margin: 5px 5px 0px 7px;
	font-size: 13px;
	}
	
#imagenesDescriptivas {
	height:500px;
	background-color: #white;
	}
	
#audiovisual {
	background-color: white;
	padding-bottom: 50px;
	}
	
#videoToronto {
	text-align: center;
	}

#audiovisual h2 {
	padding-top: 50px;
	padding-bottom: 30px;
	font-size: 30px
	}

#audiovisual p {
	padding-bottom: 30px;
	}

/*Boton aprendido con tutorial de Freecodecamp
Link: https://www.youtube.com/watch?v=pmKyG3NBY_k&list=PLWKjhJtqVAbl1AfjiGyYxwpdAPi5v-1OU&index=2&t=0s */	
.botonAnimado {
	position: relative;
	display: inline-block;
	padding: 20px 40px;
	font-size: 1.4rem;
	background-color: hsla(248, 41%, 57%, 1);
	background-size: 40px 40px;
	border: none;
	color: white;
	transition: all ease 0.3s;
	margin-left: 580px;
	margin-bottom: 30px;
	margin-top: 30px;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	}	
	
.botonAnimado::after {
	position: absolute;
	top: 30%;
	right: 0.6em;
	content: ">>";
	transition: all ease 0.3s;
	opacity: 0;
	}
	
.botonAnimado:hover {
	padding: 20px 60px 20px 20px;
	}
	
.botonAnimado:hover::after {
	right: 1.2em;
	opacity:1;
	}	
/*FOOTER FOOTER FOOTER FOOTER FOOTER*/
	
footer {
	height:auto;
	background-color: #edeffc;
	}

.margenFooter {
	margin-left: 100px;
	}

.columnasFooter {
	width: 350px;
	display: inline-block;
	vertical-align:top;
	}

.columnasFooterAncha {
	width: 500px;
	display: inline-block;
	vertical-align:top;
	}
	
.titulosFooter {
	font-size: 40px;
	padding-top: 40px;
	margin-left: 40px;
	font-weight: bold;
	}
	
.columnasFooter li ,.columnasFooterAncha li{
	display: block;
	font-size: 25px;
	padding-top: 10px;
	margin-left: 0px;
	}

.segundaFila {	
	display: block;
	}
	
.descarga {
	font-size: 25px;
	padding-top: 40px;
	padding-right: 372px;
	margin-left: 40px;
	font-weight: bold;
	display: inline-block;
	}

.ofertas {
	font-size: 25px;
	padding-top: 40px;
	margin-left: 40px;
	font-weight: bold;
	display: inline-block;
	}

#apple, #android {
	margin-top: 15px;
	margin-left: 40px;
	width:204px;
	height:56px;	
	display: inline-block;
	font-size: 0px;
	}
	
#apple {
	background: url(imagenes/sprites.png) -192px -66px;
	}

#android{
	background: url(imagenes/sprites.png) -192px 0px;
	}
	
#fb {
	width:64px;
	height:64px;
	display:inline-block;
	margin-left: 250px;
	position: relative;
	}
	
#fblink {
	width:64px;
	height:64px;
	background: url(imagenes/sprites.png) 0 -66px;
	display:inline-block;
	font-size: 0;
	}
	
#fblink:hover {
	background: url(imagenes/sprites.png) 0 0;
	}

.igtw {
	width:64px;
	height:64px;
	display:inline-block;
	}
	
#iglink {
	width:64px;
	height:64px;
	background: url(imagenes/sprites.png) -64px -66px;
	display:inline-block;
	font-size: 0;
	position: relative;
	}
	
#iglink:hover {
	background: url(imagenes/sprites.png) -64px 0px;
	}

#twlink {
	width:64px;
	height:64px;
	background: url(imagenes/sprites.png) -128px -66px;
	display:inline-block;
	font-size: 0;
	position: relative;
	}
	
#twlink:hover {
	background: url(imagenes/sprites.png) -128px 0px;
	}

summary {
	margin-top: 50px;
	}

.lineaDivisoria {
	margin-top: 15px;
	height: 1 px;
	width: 1166px;
	border: solid 1px;
	}

/*LUGARES LUGARES LUGARES LUGARES LUGARES*/

.imagengaleria {	
	background-image:linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)),
	url(imagenes/artgallery.jpg);
	width:100%;
	height:747px;
	position: relative;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	}

.contenedorSobreImagen {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	width: 900px;
	border: solid 1px;
	margin-top: -150px;
	z-index: 1;
    position:relative;
	background-color: #EEEEEE;
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
	}
	
.contenedorSobreImagen  p {
	font-size: 35px;
	padding: 30px;
	}
	
.colorRojo {
	color:red;
	font-weight:bold;
	}

#menuAtracciones {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	width:450px;
	height: 80px;
    list-style: none;
	}

.iconos {
	width:80px;
	height:80px;
	float: left;
	margin-right: 5px;
	}
	
.iconos a{
	width:80px;
	height:80px;
	display: inline-block;
	font-size:0px;
	}
	
#dt {
	background: url(imagenes/spritebarrios.png) 0 0;
	transition: 0.4s all;
	}
#dt:hover {
	background: url(imagenes/spritebanderas.png) 0 0;
	transform: rotate(360deg);
	}
#ct {
	background: url(imagenes/spritebarrios.png) -80px 0;
	transition: 0.4s all;
	}
#ct:hover {
	background: url(imagenes/spritebanderas.png) -80px 0;
	transform: rotate(360deg);
	}
#dan {
	background: url(imagenes/spritebarrios.png) -160px 0;
	transition: 0.4s all;
	}
#dan:hover {
	background: url(imagenes/spritebanderas.png) -160px 0;
	transform: rotate(360deg);
	}
#lit {
	background: url(imagenes/spritebarrios.png) -240px 0;
	transition: 0.4s all;
	}
#lit:hover {
	background: url(imagenes/spritebanderas.png) -240px 0;
	transform: rotate(360deg);
	}
#lp {
	background: url(imagenes/spritebarrios.png) -320px 0;
	transition: 0.4s all;
	}
#lp:hover {
	background: url(imagenes/spritebanderas.png) -320px 0;
	transform: rotate(360deg);
	}
	
.barrios{
	background-color:#edeffc;
	padding-bottom:20px;
	}
	
.headersBarrios {
		padding-top: 50px;
		padding-bottom: 30px;
		text-align:center;
		font-size: 40px;
		}
		
.contenedorImg {
	margin-left: auto;
	margin-right: auto;
	width: 1166px;
	}
	
.presentacionBarrio {
	width: 650px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 50px;
	}
	
.presentacionBarrio p {
	padding-bottom: 10px;
	}
	
.barrios h3
	{text-align: center;
	font-size: 27px;
	margin: 30px 0px;
	}
	
.contenedorImg {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	}
		
.columnaInfo{
	width: 350px;
	display:inline-block;
	margin-left:75px;
	vertical-align: top;
	box-shadow: 2px 2px 5px #666;
	background-color: rgba(255,255,255,0.7);
	height:320px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-bottom: 30px;
	}

.columnaInfo h4 {
	text-align:center;
	font-size:20px;
	padding-top:30px;
	font-family: "Hamburg Hand";
	text-transform: uppercase;
	color: hsl(235, 48%, 19%); 
	}

.columnaInfo p{
	margin: 10px 20px;
	font-size: 13px;
	line-height : 16px;
	}
	
.restaurantes {
	width: 650px;
	margin-left:auto;
	margin-right:auto;	
	}
	
.barriosWhite{
	background-color:white;
	padding-bottom:60px;
	}
	
abbr { 
	text-decoration:none;
	}
	
.fotorama{
	margin: 30px auto;	
	width:700px;
	}


/* INFORMACION INFORMACION INFORMACION INFORMACION*/

.secciones {
	text-align: center;
	margin-top: 50px;
	margin-bottom:40px;
	font-size:40px;
	font-family: "Hamburg Hand";
	}
	
.noticiaPrincipal {
		width: 900px;
		height: 350px;
		margin-left: auto;
		margin-right: auto;
		background-color: #efefef;
		box-shadow: 2px 2px 5px #666;
		display:block;
		}
		
.noticiaPrincipal img {
	display: inline-block;
	width: 480px;
	}

.noticiaPrincipalTexto {
	width:400px;
	height: 350px;
	display: inline-block;
	vertical-align:top;
	}

.noticiaPrincipalTexto h3{
	display: block;
	width: 320px;
	margin-left: 50px;
	margin-top:20px;
	font-size: 25px;
	font-family: "Hamburg Hand";
	}

.noticiaPrincipalTexto p {
	display: block;
	width: 300px;
	vertical-align:top;
	font-size: 14px;
	font-weight:500;
	margin-left: 50px;
	margin-top: 20px;
	}

.grupoRecuadrosDos {
	margin: 0 auto;
	width:970px;
	}
	
.grupoRecuadrosDos .tarjetasNoticias{
	display:inline-block;
	width:300px;
	height:300px;
	margin-right: 30px;
	background-color: #b7b6fd;
	background-repeat: no-repeat;
	vertical-align:top;
	box-shadow: 2px 2px 5px #666;
    position: relative;
	}
	
.tarjetasNoticias:last-child{
	margin-right: 0px;
	}


.imagenNoticia {
  display: block;
}

.tarjetaDesli {
  position: absolute;
  bottom: 100%;
  background-color: hsla(224, 100%, 50%, 0.8);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.tarjetasNoticias:hover .tarjetaDesli{
  bottom: 0;
  height: 100%;
}

.tarjetaDesli h3{
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.tarjetaDesli p {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 0px 20px;
	}
	
.cajaLinea {
	border: solid 1px;
	}

.lineaColorGradiente {
	height: 1px;
	padding: 2px;
	background-color: #7CB9E8;
	width: 400px;
	margin: 70px auto;
	display: block;
	transform: skewx(30deg);
	transform-origin: bottom left;
	}
	
.videoPadding {
	margin: 50px 0px;
	margin-left:30px;
	}
	
/* CONTACTO CONTACTO CONTACTO CONTACTO*/

#fondoFormulario{
	background-color: hsl(0, 0%, 98%);
	padding-top: 30px;
	padding-bottom: 30px;
	}
	
.contenedor{
	margin:50px auto;
	width:502px;
	padding:0px 0px 25px 60px;
	background:white url(imagenes/torre-cn.png) no-repeat;
	background-position: 370px 300px;
	border:solid 1px #AAAAAA;
	box-shadow: 2px 2px 5px #666;
	overflow:hidden;
	border-radius: 10px;	
	}
	
.lineaColor {
	width: 561px;
	margin-left:-59px;
	margin-bottom: 30px;
	height: 4px;
	background-color: #0040ff;
	}
	
.contenedor h2 {
	width:180px;
	margin-left:auto;
	margin-right:auto;	
	padding-bottom: 20px;
	}
	
.contenedor p {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 15px;
	}
	
.contenedor p b {
	font-size:17px;
	}
	
form span, legend{
	display: block;
	padding-top:10px;
	color: blue;
	font-weight:bold;
	}
	
fieldset {
	width:340px;
	}
	
form input{
	width:350px;
	padding:5px;
	margin-bottom: 10px;
	}
.casilla {
	width: 40px;
	}
	


select {
	margin-top: 7px;
	margin-bottom: 7px;
	}
	
.form div {
	padding-top:7px;
	}
	
.form span {
	width: 400px;
	font-size: 15px;
	}
	
.inputEstilo{
	margin:10px 0px;
	}
	
#envio {
	box-shadow: inset 0 1px 0 0 #4d73bf;
	background: #4627b2;
	border: solid 1px #4627b2;
	color: white;
	text-shadow: 0 1px 0 #3359a5;
	width: 100px;
	margin-left:175px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10px
	}
	
#envio:hover {
	background: #2b54a7;
	}
	
#envio:active {
	background: #1d4698;
	border-color: #1d4698;
	}
	
	
/* ========================
	GRACIAS GRACIAS GRACIAS
   ========================	*/
   
.primertitulo {
	text-align: center;
	width: 600px;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	color: hsl(234, 12%, 34%);
	}

.primertitulo h1 {
	font-weight:100;
	font-size: 35px;
	}
	
.subtitulo {
	font-weight: 600;
	font-size: 37px;
	margin-top: 20px;
	}

.informacion {
	color: hsl(229, 6%, 66%);
	font-size:14px;
	margin-top: 20px;
	margin-bottom: 50px;
	}
	
.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  grid-auto-rows: 100px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  color: hsl(234, 12%, 34%);
  }
  
.tarjetas .uno, .tarjetas .dos, .tarjetas .tres, .tarjetas .cuatro{ 
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  }
  
 .lineafina {
	box-shadow: none;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:4px;
	border: none;
    border-radius: 10px 10px 0px 0px;
	}
	
.celeste {
	background-color: hsl(180, 62%, 55%);
	}
	
.rojo {
	background-color: hsl(0, 78%, 62%);
	}
	
.naranja {
	background-color: hsl(34, 97%, 64%);
	}
	
.azul {
	background-color: hsl(212, 86%, 64%);
	}
  
.tarjetas h2 {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	padding: 20px 25px 10px 30px;
	}

.tarjetas p {
	padding: 0px 25px 24px 30px;
	margin-right: 20px;
	color: hsl(229, 6%, 66%);
	font-size:12px;
	}	
	
.uno {
  grid-column: 1;
  grid-row: 2 / 4;

}
.dos { 
  grid-column: 2;
  grid-row: 1 / 3;
}
.tres {
  grid-column: 2;
  grid-row: 3 / 5;
}
.cuatro {
  grid-column: 3;
  grid-row: 2 / 4;
  }
  
.botonInfo {
	margin-left:30px;
	margin-top:22px;
	width:50px;
	height:26px;
	border: none;
	color: white;
	border-radius:5px;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	}
	
.botonInfo:hover {
	opacity: 0.9;
	width:55px;
	height:30px;
	}
	
.iconosDos {
	width:64px;
	height:64px;
    float: right;
	margin-right:30px;
	box-shadow: none;
	}
	
#robot {
	background-image: url(imagenes/robot.png);
	margin-top: -15px;
	}
	
#mickjagger {
	background-image: url(imagenes/mickjagger.png);
	}
	
#davegrohl{
	background-image: url(imagenes/davegrohl.png);
	}
	
#mujergorra {
	background-image: url(imagenes/ballcap.png);
	}
	
.attribution {
	text-align: center;
	padding-top:50px;
	}

	
/* ========================
	     ALOJAMIENTO
   ========================	*/
   
.torontoheader {
	font-family: "Hamburg Hand";
	color: red;
	font-size: 30px;
	display:inline-block;
    position: relative;
	top:4px;
	}
   
.contenedorImagen {
    position: relative;
    display: inline-block;
    text-align: center;
	}
	
.imagenHotel {	
	background-image: url(imagenes/hoteles.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	overflow:hidden;
	height: 683px;
	width:auto;
	position:relative;
	}	
	
.tituloAlojamiento{
    position: absolute;
    top: 50px;
    left: 7%;
	width:400px;
	font-family: "Hamburg Hand";
	font-size: 4.5em;
	color: white;
	text-align: left;
	}   
   
 #barraGris {
	height:75px;
	background-color:#ccc;
	width:100%;
	margin-top: 30px;
	}
	
#contenidoBarra {
	display:block;
	margin:0px auto;
	width:800px;
	}
	
.iconografia {
	width:50px;
	height:47px;
	display:inline-block;
	margin-top:15px;
	background-repeat:no-repeat;
	margin-left:50px;
	}
	
.iconografia:first-of-type{
	margin-left:0px;
	}
	
.textoCorto {
	vertical-align:top;
	margin-top:30px;
	margin-left:5px;
	display:inline-block;
	font-size:0.8em;
	font-weight:bold;
	width:170px;
	}
	
.textoCorto:last-of-type{
	margin-top:25px;
	}
	
#billetera{
	background-image: url(imagenes/wallet.png);
	}

#manoPlata{
	background-image: url(imagenes/handmoney.png);
	}

#interaccionGente{
	background-image: url(imagenes/personas.png);
	}
  
.subtitulosAlojamiento{
	margin: 50px auto;
	display: block;
	font-size:3em;
	text-align:center;
	}
	
.seccionReserva {
	width:70%;
	margin: 50px auto;
	display:block;
	}
	
.seccionReserva p{
	display:inline-block;
	width:50%;
	font-size:1.1em;
	vertical-align:top;
	margin-bottom:30px;
	}
 
.seccionReserva img {
	width:auto;
	height:auto;
	vertical-align:top;
	}
  
.tarjetaHoteles{
	width:70%;
	margin: 40px auto;
	height:auto;
	border: solid 1px;
	border-radius:5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	display:flex;
   }
   
.tarjetaHoteles img {
	width:201px;
	height:201px;
	margin:20px;
	display:flex;
	}

.primeraFila {
	height:auto;
	display: block;
	width:100%;
	vertical-align:top;
	margin-right:0px;
	margin-bottom:5px;
	}
	
.tarjetaHoteles h3 {
	margin-top: 20px;
	font-size:1.4em;
	color: blue;
	display: inline-block;
	width:300px;
	}
	
.comentariosClasif {
	display:inline-block;
	vertical-align:top;
	margin-left:25%;
	}
	
.comentarios {
	font-size:0.7em;
	margin-left: px;
	margin-top:30px;
	display:inline-block;
	}
	
.calificacion{
	padding: 9px 6px;
	background-color:blue;
	color:white;
	margin-left:20px;
	border-radius:5px;
	font-weight:bold;
	}
   
.ubicacion{
	width:100%;
	display: block;
	margin-bottom:10px;
	margin-top:10px;
	font-size:1.1em;
	color:blue;
	}
	
.distancia{
	width:100%;
	display: block;
	margin-bottom:10px;
	font-size:0.8em;
	}
	
.resena {
	width:60%;
	display: inline-block;
	margin-bottom:10px;
	font-size:0.8em;
	margin-top:50px;
	}
	
.botonHoteles {
	box-shadow: inset 0 1px 0 0 #4d73bf;
	background: blue;
	border: solid 1px #4627b2;
	color: white;
	text-shadow: 0 1px 0 #3359a5;
	font-size:16px;
	font-weight:bold;
	padding: 9px 7px;
	border-radius:5px;
	margin-left:13%;
	margin-bottom:5%;
	margin-right:5%;
	}
	
.botonHoteles:hover {
	background: #2b54a7;
	}
	
.botonHoteles:active {
	background: #1d4698;
	border-color: #1d4698;
	}